
<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}devoure{{else}} NOT Devoured{{/if}}
		
	</button>

	<button class="delete-cat"  data-id="{{id}}">DELETE!</button>
	<img class="img1" src="/images/2019_df_retail_butter-burger_20912_760x580.jpg">
</li>